/* spinner/loading */
.ant-spin-dot-item {
    background-color: #503a24;
}

.ant-spin-text {
    color: #503a24;
    font-size: 1.1rem;
}

/* Paginantion */
.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
    border-color: #503a24;
}

.ant-pagination-item:focus-visible a,
.ant-pagination-item a {
    color: #503a24a8;
}

.ant-pagination-item-active {
    border-color: #503a24;
}

.ant-pagination-item:focus-visible a,
.ant-pagination-item:hover a {
    color: #503a24;
}

.ant-pagination-item-active a {
    color: #503a24;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #503a24;
    border-color: #503a24;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    color: #503a24a8;
}

/* Radio and checkbox */
.ant-radio-wrapper > span,
.ant-checkbox-wrapper > span {
    color: #503a24;
}

.ant-radio-checked .ant-radio-inner,
.ant-checkbox-checked .ant-checkbox-inner {
    border-color: #503a24;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #503a24;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner,
.ant-checkbox-wrapper:hover .ant-checkbox,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #503a24;
}

.ant-radio-inner::after {
    background-color: #503a24;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #503a24;
}

/* Table */
.ant-table-tbody > tr.ant-table-row-selected > td {
    background: #f1f1f1;
}

.ant-table-tbody > tr.ant-table-row-selected:hover > td {
    background: #e6e6e6;
}

.ant-table-thead > tr > th {
    color: #503a24;
    font-size: 1.1em;
    text-align: center;
}

.ant-table-cell {
    color: #503a24;
    text-align: center;
}

/* Input number */
.ant-input-number:hover,
.ant-input-number-focused {
    border: 1px solid #503a24;
    box-shadow: none;
}

/* Date picker */
.ant-picker:hover,
.ant-picker-focused {
    border-color: #503a24;
    border-right-width: 1px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #503a24;
    border-radius: 2px;
    content: "";
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: #503a24;
}

/* Select */
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #503a24;
    border-right-width: 1px !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #664a2e;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #302f2f;
    font-weight: 600;
    background-color: #c29c71;
}

/* Dashboad layout */
.custom-site-dashboard {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

/* Sider */
.custom-site-dashboard > .ant-layout-sider {
    background-color: #382612;
    width: 300px;
}

.ant-layout-sider > .ant-layout-sider-children > .custom-menu__logo {
    width: 100%;
    height: 66px;
    padding: 0px 25px 0px 10px;
    display: flex;
    align-items: center;
}

.ant-layout-sider > .ant-layout-sider-children > .custom-menu__logo.true {
    padding: 0px 0px;
    transition: all 0.3s;
}

.ant-layout-sider > .ant-layout-sider-children > .custom-menu__logo > h1 {
    color: #fff;
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: capitalize;
    margin-bottom: 0;
}

.ant-layout-sider > .ant-layout-sider-children > .custom-menu__logo img {
    flex-grow: 1;
    width: 60px;
    height: 60px;
    object-fit: cover;

}

.ant-layout-sider > .ant-layout-sider-children > .custom-menu__logo.true img {
    width: 55px;
    height: 55px;
    transition: all 0.3s;
}

.custom-site-dashboard > .ant-layout-sider-collapsed .custom-menu__logo > h1 {
    display: none;
}

.ant-menu.ant-menu-root {
    background: #382612;
    margin: 30px 0px;
}

.ant-menu.ant-menu-root .ant-menu-item {
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
}

.ant-menu.ant-menu-root > .ant-menu-item:active,
.ant-menu.ant-menu-root > .ant-menu-item.ant-menu-item-active,
.ant-menu.ant-menu-root > .ant-menu-item.ant-menu-item-selected {
    background: #503a24;
}

.ant-menu.ant-menu-root .ant-menu-item {
    margin: 0;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    color: #fff;
    width: 20px;
    height: 20px;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
    color: #fff;
    margin-left: 5px;
    font-size: 1.2rem;
}

/* Header */
.custom-site-content .custom-site-content__header {
    background-color: #fff;
    padding: 0;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-site-content .trigger {
    cursor: pointer;
    transition: color 0.3s;
    padding: 0 28px;
}

.custom-site-content .trigger svg {
    font-size: 25px !important;
}

.custom-site-content .trigger:hover {
    color: #664a2e;
}

.custom-site-content__user {
    margin-left: auto;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    position: relative;
}

.custom-site-content__user #dashboard-user {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(196, 195, 195);
    cursor: pointer;
}

.custom-site-content__user .custom-site-content__dropdown {
    display: none;
    position: absolute;
    min-width: 100px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 55px;
    left: 0px;
}

.custom-site-content__user .custom-site-content__dropdown span {
    color: #503a24;
    padding: 10px 15px;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;

    transition: all 0.3s ease;
}

.custom-site-content__user .custom-site-content__dropdown span:hover {
    background: #eee;
    color: #725335;
}

.custom-site-content__user:hover .custom-site-content__dropdown {
    background: #fff;
    display: flex;
}

.custom-site-content__user #dashboard-user:hover {
    color: #503a24;
}

/* Main content */
.custom-site-main {
    padding: 30px;
    width: 100%;
    height: 100%;
}

.custom-site-main .custom-site-main-content {
    background: #fff;
    width: 100%;
    height: 100%;

    padding: 30px;
    display: flex;
    flex-direction: column;
}

.custom-site-main-content .custom-site-main-content__filter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    width: 100%;
}

.custom-site-main-content .custom-site-main-content__filter .main-content__filter-item {
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.custom-site-main-content .custom-site-main-content__filter .main-content__filter-item > span {
    color: #503a24;
    margin-right: 20px;
    font-weight: 600;
}

.custom-site-main-content .custom-site-main-content__filter .main-content__filter-item > input {
    height: 80%;
    width: 250px;
    outline: none;
    border: 1px solid #503a2444;
    padding: 8px 10px;
}

/* Modal */
.ant-modal-content {
    border-radius: 8px;
}

.ant-modal-header {
    border-radius: 8px 8px 0 0;
}

.ant-modal-close:hover {
    background-color: #fff;
}

/* Submenu */
.ant-menu.ant-menu-root > .ant-menu-submenu {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-menu.ant-menu-root > .ant-menu-submenu-active {
    background: #503a24;
}

.ant-menu.ant-menu-root > .ant-menu-submenu-open {
    background: #503a24;
}

.ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 30px;
    min-height: 50px;
    line-height: 50px;
    margin: 0;
}

.ant-menu-submenu > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    opacity: 1 !important;
    color: #fff;
    width: 15px;
}

.ant-menu-submenu > .ant-menu-submenu-title > .ant-menu-title-content {
    color: #fff;
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2b1b0d;
}

.ant-menu-submenu > .ant-menu-sub .ant-menu-item .ant-menu-item-only-child {
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
}

.ant-menu.ant-menu-root > .ant-menu-submenu .ant-menu-item.ant-menu-item-active,
.ant-menu.ant-menu-root > .ant-menu-submenu .ant-menu-item:active {
    background: #22160b;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #22160b;

.ant-tooltip-content .ant-tooltip-inner  > a {
    color: #fff;
}
