.header {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000000;
    transition: all 0.5s;
}

.header-static {
    background-color: transparent;
}

.header-scroll {
    background-color: #5c4528dc;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.header .header__logo {
    width: 120px;
    height: 63px;

    background-image: url("../../images//store-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header__navbar {
    display: flex;
    flex-grow: 1;
}

.header__navigation {
    flex-grow: 1;
    height: 63px;
}

.header__navigation > ul,
.header__right > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__navigation > ul > li,
.header__right > ul > li {
    width: 80px;
    height: 100%;
    text-align: center;
}

.header__navigation > ul > li > a,
.header__right > ul > li > a {
    color: #fff;
    font-weight: 500;
    font-size: 1.12rem;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navigation > ul > li > a:hover,
.header__right > ul > li > a:hover {
    color: #c99337;
}

.header__right {
    height: 63px;
    display: flex;
    align-items: center;
}

#login {
    background-color: #844900dc;
    height: 40px;
    border-radius: 10px;
    transition: all 0.7s;
}

#login > a:hover {
    color: #fff;
    background-color: #633600dc;
    border-radius: 10px;
}

.bars {
    color: #fff;
    font-weight: 500;
    font-size: 2.25rem;
    cursor: pointer;
    display: none;
}

.header__navigation > ul > .shopping,
.header__right > ul > .shopping {
    width: 35px;
    margin-right: 20px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #614119;
    border-radius: 1px;
    padding: 12px 14px;
    border-bottom: 1px solid #ddd;

    width: 100%;
    transition: all 0.5s;
}

.dropdown-content:hover a:hover {
    background-color: #ddd;
}

#user:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #614119;
}

.header__right > ul > .shopping > #wishlist:hover {
    color: red;
}

.header__right > ul > .shopping > #cart:hover {
    color: #2674EA;
}

@media only screen and (max-width: 900px) {
    .header__navbar {
        flex-direction: column;
        width: 100%;
        height: 480px;
        position: absolute;
        top: 60px;
        left: 0px;
        background-color: #5c4528dc;
        display: none;
    }

    .visible {
        display: block;
    }

    .header__navigation {
        height: 240px;
        flex-grow: 0;
    }

    .header__navigation > ul,
    .header__right > ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header__navigation > ul > li,
    .header__right > ul > li,
    .header__navigation > ul > .shopping,
    .header__right > ul > .shopping {
        width: 100%;
        height: 60px;
        margin: 0;
    }

    .header__right {
        height: 240px;
        display: flex;
        align-items: center;
    }

    #login {
        height: 60px;
        background-color: transparent;
        border-radius: 0px;
    }

    .header__navigation > ul > li > a:hover,
    .header__right > ul > li > a:hover {
        color: #c99337;
        background-color: #614119;
    }

    #login > a:hover {
        color: #c99337;
        background-color: transparent;
        border-radius: 0;
        background-color: #614119;
    }

    .bars {
        display: block;
        width: 100%;
        text-align: right;
    }

    .dropdown-content {
        width: inherit;
    }

    .dropdown-content a {
        width: inherit;
        text-align: center;
    }
}
