.custom-overlay {
    width: 100%;
    height: calc(100vh*2 / 3);
    position: absolute;
    display: block;

    z-index: 1;
    background-color: #000;
    opacity: 0.5;
    transition: all 0.3s;
}

.custom-hero {
    width: 100%;
    height: calc(100vh*2 / 3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.74) !important;
}

.custom-hero img {
    width: 100%;
    height: calc(100vh*2 / 3);
    object-fit: cover;
    position: absolute;
}

.custom-hero > h1,
.custom-hero > span {
    color: #fff;
    z-index: 2;
}

.custom-hero > h1 {
    font-size: 5.25rem;
    text-transform: uppercase;
}

.custom-hero > span {
    font-size: 2.5rem;
}
