* {
    box-sizing: border-box;
}

:root {
    --wrapper-padding: 20%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 var(--wrapper-padding);
    margin: 0;
    top: 0;
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;

    z-index: 1;
    background-color: #00000059;
    opacity: 0.35;
    transition: all 0.3s;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.container .hero {
    background-image: url("../../images//landing-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74) !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .hero h1,
.container .hero button,
.container .hero .hero__shopping {
    color: #fff;
    z-index: 2;
    font-weight: 700;
}

.container .hero h1 {
    font-size: 5.5rem;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 5px #503a24;
    margin-bottom: 0.3em;
    cursor: default;
}

.container .hero button {
    box-sizing: border-box;
    font-size: 2rem;
    background-color: #503a24;
    padding: 5px 23px;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: default;
}

.container .hero .hero__shopping > a {
    font-size: 2.2rem;
    color: #fff;
}

.container .hero .hero__shopping > a > #arrow_icon {
    margin-left: 7px;
}

.container .hero .hero__shopping > a:hover {
    color: #2674EA;
}

/* Container section */
.container-section {
    width: 100%;
    height: 550px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px var(--wrapper-padding);
}

.container-left,
.container-right {
    width: 50%;
    height: 100%;
}

.container-left > h1,
.container-right > h1 {
    font-size: 2.25rem;
    color: #503a24;
    text-transform: capitalize;
    margin: 0;
}

.about__left,
.contact__left {
    padding-right: 50px;
}

.about__left > p {
    white-space: pre-wrap;
    text-align: justify;
}

.about__left > p > span {
    padding: 20px;
}

.about__right,
.contact__right {
    display: flex;
    padding-left: 50px;
}

/* About */
.about {
    background: #eee;
}

.about__right {
    justify-content: center;
    align-items: center;
}

.about__right > img {
    width: 100%;
    height: 80%;
}

/* Contact */
.contact__left {
    display: flex;
    flex-direction: column;
}

.contact__left .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.contact__left .contact__form > input,
textarea,
button {
    outline: none;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.contact__left .contact__form > textarea {
    resize: none;
    overflow-y: auto;
}

.contact__left .contact__form > button {
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    box-sizing: border-box;
    cursor: pointer;
}

.contact__right {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.contact__item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.contact__icon {
    color: #503a24;
    font-size: 3.35rem;
    margin-right: 20px;

    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__info {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        padding: 0 10%;
    }

    .container-section {
        padding: 50px 10%;
        height: 860px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .hero h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    .container .hero button {
        font-size: 1.95rem;
    }

    .container .hero .hero__shopping > a {
        font-size: 2.25rem;
    }

    .container-left,
    .container-right {
        width: 100%;
        height: 50%;
    }

    .about__left,
    .contact__left,
    .about__right,
    .contact__right {
        padding: 0;
    }

    .container-left,
    .container-right {
        width: 100%;
        height: 50%;
    }

    .about__left,
    .contact__left,
    .about__right,
    .contact__right {
        padding: 0;
    }

    .about__right > img {
        width: 90%;
        height: 100%;
    }

    .contact__left .contact__form > input,
    textarea,
    button {
        outline: none;
        border: 1px solid #503a24;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .contact__left .contact__form > textarea {
        resize: none;
        overflow-y: auto;
    }

    .contact__left .contact__form > button {
        background-color: #503a24;
        color: #fff;
        font-weight: 500;
        font-size: 1.25rem;
        box-sizing: border-box;
        cursor: pointer;
        height: 44px;
    }

    .contact__right {
        align-items: center;
    }

    .contact__item {
        justify-content: center;
    }

    .contact__info {
        width: 300px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .wrapper {
        padding: 0 10%;
    }

    .container-section {
        padding: 50px 10%;
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .hero h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    .container .hero button {
        font-size: 1.95rem;
    }

    .container .hero .hero__shopping > a {
        font-size: 2.25rem;
    }

    .container-left,
    .container-right {
        width: 100%;
        height: 50%;
    }

    .about__left,
    .contact__left,
    .about__right,
    .contact__right {
        padding: 0;
    }

    .about__right > img {
        width: 90%;
        height: 100%;
    }

    .contact__left .contact__form > input,
    textarea,
    button {
        outline: none;
        border: 1px solid #503a24;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .contact__left .contact__form > textarea {
        resize: none;
        overflow-y: auto;
    }

    .contact__left .contact__form > button {
        background-color: #503a24;
        color: #fff;
        font-weight: 500;
        font-size: 1.25rem;
        box-sizing: border-box;
        cursor: pointer;
        height: 44px;
    }

    .contact__right {
        align-items: center;
    }

    .contact__item {
        justify-content: center;
    }

    .contact__info {
        width: 300px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .wrapper {
        padding: 0 8%;
    }

    .container-section {
        height: 500px;
        padding: 50px 8%;
    }

    .about__left,
    .contact__left {
        padding-right: 30px;
    }

    .about__right,
    .contact__right {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {
    .wrapper {
        padding: 0 12%;
    }

    .container-section {
        height: 500px;
        padding: 50px 12%;
    }

    .about__left,
    .contact__left {
        padding-right: 30px;
    }

    .about__right,
    .contact__right {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
    .wrapper {
        padding: 0 15%;
    }

    .container-section {
        height: 530px;
        padding: 50px 15%;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
    .wrapper {
        padding: 0 18%;
    }

    .container-section {
        height: 540px;
        padding: 50px 18%;
    }

    .about__right > img {
        width: 100%;
        height: 82%;
    }
}
