.table-deleted {
    outline: none;
    background-color: #e40340;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.table-deleted:hover {
    background-color: #cf0239;
}

.table-cart,
.table-wishlist {
    border: 1px solid #503a2446;
    padding: 8px;
    cursor: pointer;
    font-size: 1.15rem;
    color: #503a24;
}

.table-cart {
    color: #61462c;
}

.table-wishlist:hover {
    color: #ff0000;
}
